
	#splitlabel {
		font-size: 10px;
		font-weight: bold;
	}
	#lblclear {
		font-size: 12px;
		font-weight: bold;
	}
	
	table.xreftable {
		 border-width: 1px;
		 border-spacing: 0;
		 border-style: outset;
		 border-color: black;
		 border-collapse: separate; 
		 background-color: white; 
		 font-size: 14px;
		 table-layout: fixed;
		 margin-bottom: 5px;
		 width: 100%; 
		 empty-cells: show;

	}
	
	.xreftable caption {
		color: green;
	}
	
	.xreftable tr {
		vertical-align: middle;
		padding-top: 5px;
	}

	.xreftable td, .xreftable th {
		border-width: 1px;
		padding: 1px;
		border-style: inset;
		border-color: lightblue;
		font-size: 14px;
		word-wrap: break-word;
		min-width: 25px;
		

	}
	
	.xreftable th {
		font-weight: bold;
	}

	.xreftable  td.Col3 , .xreftable  td.Col4, .xreftable  td.Col5  {
		text-align: right;
		color: blue;
		width: 50px;
	}
	
	.xreftable th.Col5 {
		text-align: center;
		color: blue;
		width: 50px;
	}

	
	.xreftable  td.Col6 {
		text-align: left;
		color: blue;
		width: 250px;
	}
	
	.xreftable th.Col6 {
		text-align: center;
		color: blue;
		width: 250px;
	}
	
	.xreftable td.Col8 {
		text-align: left;
		color: blue;
		width: 100px;
	}
	
	.xreftable th.Col8 {
		text-align: center;
		color: blue;
		width: 100px;
	}
		
		

		 /*Table Even Rows Styles*/
	 .xreftable tbody, .xreftable tr:nth-child(even){
		 background-color: #efefef;
	 }

		 /*Table ODD Rows Styles*/
	 .xreftable tbody, .xreftable tr:nth-child(odd){
		 background-color: #dfdfdf;
	 }

		 /*Table Row HOver Style*/
	 .xreftable table, .xreftable tbody, .xreftable tr:hover{
		 background-color: #ffffd8;
	 }


	.uerror {
		  color: red;
	 }
	.nameerror {
		  color: gray;
	 }
	
	 

	#drop{
		border:2px dashed #bbb;
		border-radius:5px;
		padding:5px;
		text-align:center;
		font:20pt bold,"Vollkorn";color:#bbb
	}
	
