
	#splitlabel {
		font-size: 10px;
		font-weight: bold;
	}
	#lblclear {
		font-size: 12px;
		font-weight: bold;
	}
	
	table.xreftable {
		 border-width: 1px;
		 border-spacing: 0;
		 border-style: outset;
		 border-color: black;
		 border-collapse: separate; 
		 background-color: white; 
		 font-size: 14px;
		 table-layout: fixed;
		 margin-bottom: 5px;
		 width: 100%; 
		 empty-cells: show;

	}
	
	caption {
		font-size: 20px;
		color: green;
	}
	
	tr {
		vertical-align: middle;
		padding-top: 5px;
	}

	td, th {
		border-width: 1px;
		padding: 1px;
		border-style: inset;
		border-color: lightblue;
		word-break:break-word;

	}
	
	th {
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		color: blue;	
	}

	td {
		font-size: 14px;
		/*min-width: 15px;*/
	}
	
	th.Col0, th.Col1, th.Col2, th.Col7  {
		text-align: center;
		width: 70px;
	}

	th.Col3 {
		width: 250px;
	}
	
	th.Col4, th.Col5, th.Col6, th.Col9 {
		width: 110px;
	}

	th.Col8 {
		width: 0px;
	}

	td.Col0, td.Col1, td.Col2, td.Col7  {
		text-align: right;
		color: red;
		padding-right: 15px;
	}
	
	td.Col3 {
		text-align: left;
		color: green;
		padding-left: 5px;
		width: 250px;
	}

	
	td.Col4, td.Col5, td.Col6, td.Col9 {
		text-align: left;
		color: green;
		padding-left: 5px;
	}
	


		 /*Table Even Rows Styles*/
	 .xreftable tbody, .xreftable tr:nth-child(even){
		 background-color: #efefef;
	 }

		 /*Table ODD Rows Styles*/
	 .xreftable tbody, .xreftable tr:nth-child(odd){
		 background-color: #dfdfdf;
	 }

		 /*Table Row HOver Style*/
	 .xreftable table, .xreftable tbody, .xreftable tr:hover{
		 background-color: #ffffd8;
	 }

	/*
	.uerror {
		  color: red;
	 }
	.nameerror {
		  color: gray;
	 }
	*/
	 

	#drop{
		border:2px dashed #bbb;
		border-radius:5px;
		padding:5px;
		text-align:center;
		font:20pt bold,"Vollkorn";color:#bbb
	}
	
